/** RESTART.CSS
  * an opinionated css reset
  **/

/* SYSTEM FONT STACK
   system font stack defaults to system's native UI font

  system-ui,            ** detect system font automatically
  -apple-system,        ** Safari (Mac OS X and iOS) and Older Mac OS X
  BlinkMacSystemFont,   ** Chrome<56 (Mac OS X)
  "Segoe UI",           ** Windows and Windows Phone
  "Roboto",             ** Android and Chrome OS
  "Oxygen",             ** KDE    - Linux environment
  "Ubuntu",             ** Ubuntu - Linux distribution
  "Cantarell",          ** GNOME  - Linux environment
  "Fira Sans",          ** Firefox
  "Droid Sans",         ** Older Android
  "Helvetica Neue",     ** Older Mac OS X
  sans-serif,
  "Apple Color Emoji",                  ** Mac OS X Emoji fallback
  "Segoe UI Emoji", "Segoe UI Symbol";  ** Windows Emoji fallback
*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  /* system font stack */
  margin: 0; /* override default margin */
  height: 100vh; /* body should match height of the viewport */
}

/* HMTL5 SEMANTIC ELEMENTS
   main is the only HTML5 Semantic Element that needs support in IE (9-11)
   https://caniuse.com/#feat=html5semantic
*/
main {
  display: block;
}
