@font-face
  font-family: 'custom_icons'
  src: url('../custom_icons.woff2') format('woff2'), url('../custom_icons.woff') format('woff')

// monospace System Font
--system-monospace = SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace

// Standard Utility Classes ==============================================
.bold
  font-weight: 600

b-XXX()
  for --weight in arguments
    .b-{--weight}
      font-weight: --weight

b-XXX(100,200,300,400,500,600,700,800,900)

.no-bold
  font-weight: normal

.case-upper
  text-transform: uppercase

.case-lower
  text-transform: lowercase

.case-caps
  text-transform: capitalize

.no-case
  text-transform: none

.underline
  text-decoration: underline

// .underline-side | Utility Class =======================================
// underline effect after header

.underline-side
  overflow: hidden
  margin-bottom: 0.25em  // margin and padding emulate a margin-bottom: 0.5em
  padding-bottom: 0.25em // when overflow-x is hidden, descenders get clipped
  text-decoration: none

.underline-side::after
  content: ''
  background-color: black
  border-bottom: 0.125em solid // default to b-600
  width: 100%
  margin-right: -100%
  display: inline-block
  margin-left: .5em

.underline-side.bold::after
  border-width: 0.125em

underline-b-XXX()
  for --weight in arguments
    width = (0.017 + (--weight/100) * 0.018em)
    .underline-side.b-{--weight}::after
      border-width: round(width,3)
// 100 weight -> 0.035em
// 600 weight -> 0.125em
// em = (0.017 + (weight / 100) * 0.018em)

underline-b-XXX(100,200,300,400,500,600,700,800,900)

@media (max-width: 600px)
  .underline-side::after
    display: block
    margin-left: 0
    margin-top: 0.5rem

// Code background
.code
  font-family: --system-monospace
  font-size: 1em

code.code
  background-color: #f9f9f9
  border: 1px solid #d6d6d6
  padding: 0 .25em

pre.code
  background-color: #f9f9f9
  border: 1px solid #d6d6d6
  font-size: 1rem
  font-weight: 300
  padding: 1rem

// Horizontal List
ul.list-horiz
ul.breadcrumbs
ul.breadcrumbs-angle
  padding-left: 0
  list-style-type: none

ul.list-horiz > li
ul.list-horiz > a > li
  display: inline-block

// Breadcrumbs
// icon font built with: https://icomoon.io/app/
// woff2 converted by: https://everythingfonts.com/woff-to-woff2

.breadcrumbs > li:not(:first-child)
.breadcrumbs-angle > li:not(:first-child)
  padding-left: 1.5em
  position: relative
  line-height: 1

.breadcrumbs > li:not(:first-child)::before
.breadcrumbs-angle > li:not(:first-child)::before
  font-family: custom_icons
  font-style: normal
  font-weight: 300
  position: absolute
  top: 0.25em
  left: 0.5em
  font-size: 0.75em

.breadcrumbs > li:not(:first-child)::before
  content: "/"

.breadcrumbs-angle > li:not(:first-child)::before
  content: ">"

.icon
  font-family: custom_icons
  font-style: normal
  font-weight: 300

.icon-rt-angle::before
  content: ">"

.icon-fw-slash::before
  content: "/"
